#mDateMask { position: fixed; display: none; left: 0; right: 0; top: 0; bottom: 0; z-index: 9999; background: rgba(0, 0, 0, 0.5);}
#mDatePicker { position: fixed; background: white; width: 100%; height:3.6rem; bottom: 0; transition: all 250ms ease-in-out; }
.picker-tool .finish-btn { float: right; font-size:.28rem; color: rgb(30, 176, 234);line-height:.8rem;padding-right: .3rem; position:absolute;top:0;right:0;}
#mDatePicker .picker-tool { width: 100%; height:.8rem; text-align: center; border-bottom: 1px solid #45b035;position:relative; }
#mDatePicker .picker-tool h2{text-align: center;font-size:.3rem;line-height:.8rem;font-weight:normal;color:#45b035}
#mDatePicker .picker-unit{width: 100%;height: .8rem;text-align: center;}
.picker-tool .picker-flg { position: absolute; width: 100%; left: 0; height:.8rem; top:1.75rem; background-color: #d9fcca; }
#mDatePicker div { float: left; margin-top:.15rem; height:2.4rem; overflow: hidden; }
#mDatePicker ul li { height:.8rem; font-size:.26rem; text-align: center; color: #333; line-height:.8rem; }
.unitSpan{ display:inline-block;height: .8rem;line-height: .8rem;text-align: center;background-color: white;}